.form-container{
  display: block;
  margin:auto;
  width: 400px;
  margin-top: 100px;
  background: #424141e9;
  height: 400px;
  padding:2%;
  border-radius: 5px;
}
h2{
  color:#6af1af;
}
form{
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:3%;
}
.container{
  display: block;
  margin:auto;
}
/* Material */
/* ---input-- */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
